*{
    font-family: "Open Sans"
}

#pointer:hover{
    cursor: pointer;
    text-decoration: underline;
}

.bg-tertiary{
    background-color: rgb(231, 231, 231);
}

#horario td:hover{
    cursor: pointer;
    background-color: rgb(153, 153, 153);
}

#tabela table td , #tabela table th{
    border: solid 1px black;
}

#tabela table th:empty{
    background-color: transparent;
    border: none;
}

#body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.assentos {
    display: grid;
    grid-template-columns: repeat(15, 40px);
    gap: 10px;
}

.border-radius-1{
    border-radius: 10px;
}

.border-radius-2{
    border-radius: 15px;
}

#fecharAdd:hover{
    cursor: pointer;
}

.assento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #198754;
    border: 1px solid #444;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
}

.assento.selected {
    background-color: #dc3545;
    color: black;
    box-shadow: 2px 1px 2px 1px black;
}

.text-justify{
    text-align: justify;
}

.box-shadowHSSB{
    box-shadow: 1px 2px 5px 1px rgb(0, 0, 0);
}

.fs-7{
    font-size: 12px;
}

html, body{
    height: 100%;
    margin:0;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}